MiscSettings.h
data/
weather-icons/
weatherPCB/OldSchematics
weatherPCB/Schematics
weatherPCB/WeatherPCBGerber
weatherPCB/Libraries/Modules2.pretty
*.der
*.swp
*.zip
tags
*.bak
*.bck
*-bak
*.000
*.pdf
*.png
*rescue*
*.raw
*.net
*.log
*-cache.lib
sym-lib-table
fp-lib-table
*.kicad_pcb-bak
User_Setup.h
images/
